---
pageTitle: Lean Bun - Burger Testing
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <link rel="icon" href="/static/img/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{pageTitle}}</title>

    <meta name="title" content="Lean Bun - Burger Testing">
    <meta name="description" content="LeanBun is an initiative to find the best burger joint in Vienna. ">
    <meta name="keywords" content="burger-testing, burger, lean-coders, blog">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="revisit-after" content="14 days">
    <meta name="author" content="LEAN-CODERS GmbH">

    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    {% if prism == true %}
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/css/prism-tomorrow.css"
    />
    {% endif %}
  </head>
  <body class="bg-gray-50">
    <div class="shadow pb-4">{% include "./partials/navbar.njk" %}</div>

    <div class="container max-w-4xl mt-8 px-6">{{ content | safe }}</div>

    {% include "./partials/footer.njk" %}

    <script src="/static/js/alpine.js"></script>

    {% if path == "home" %}
    <!-- Netlify Identity Widget -->
    <!-- Needed only if you are using Netlify Identity feature -->
    <script
      type="text/javascript"
      src="https://identity.netlify.com/v1/netlify-identity-widget.js"
    ></script>
    {% endif %}
  </body>
</html>
