---
layout: default
prism: true
---

{% set score = testers | totalScore %}
<div class="py-8">
  <h1 class="font-bold tracking-wide text-3xl md:text-4xl">{{title}}</h1>
  <div
    class="h-[28px] w-[140px] mx-auto mb-3 rating relative text-primary"
    style="--rating:{{ 6 - score }}; --size: 28px"
  ></div>
  <p class="text-center text-base leading-6 text-gray-500 mb-1">
    <time>{{ date | readableDate }}</time>
    <span>&nbsp;by&nbsp;{{ author }}</span>
  </p>
  <p class="text-center text-base leading-6 text-gray-500 mb-8">
    {{ address }}
  </p>
  <ul class="grid mx-auto prose lg:prose-xl">
    {% for tester in testers %} {% set score = tester | testerScore %}
    <li
      x-data="{ isOpen: false }"
      @keydown.escape="isOpen = false"
      @click="isOpen = !isOpen"
    >
      <div class="grid grid-cols-[1fr,120px,32px] gap-2 not-prose">
        <p class="font-bold text-base sm:text-lg">{{ tester.name }}</p>
        <div class="flex justify-end">
          <div
            class="h-[24px] w-[120px] rating relative text-primary"
            style="--rating:{{ 6 - score }}; --size: 24px"
          ></div>
        </div>
        <p
          class="font-bold text-center text-base sm:text-lg"
          x-text="isOpen ? '-':'+'"
        ></p>
        {% set review = tester.review %}
        <p class="text-sm leading-6 pt-4" :class="{ 'hidden': !isOpen }">
          Burger
        </p>
        <p
          class="col-span-2 pt-4 text-right text-sm"
          :class="{ 'hidden': !isOpen }"
        >
          {{ review.burger }}
        </p>
        <p class="text-sm" :class="{ 'hidden': !isOpen }">Bun</p>
        <div class="flex justify-end col-span-2" :class="{ 'hidden': !isOpen }">
          <div
            class="h-[24px] w-[120px] rating relative text-primary"
            style="--rating:{{ 6 - review.bunScore }}; --size: 24px"
          ></div>
        </div>
        <p class="text-sm" :class="{ 'hidden': !isOpen }">Patty</p>
        <div class="flex justify-end col-span-2" :class="{ 'hidden': !isOpen }">
          <div
            class="h-[24px] w-[120px] rating relative text-primary"
            style="--rating:{{ 6 - review.pattyScore }}; --size: 24px"
          ></div>
        </div>
        <p class="text-sm" :class="{ 'hidden': !isOpen }">Timing</p>
        <div class="flex justify-end col-span-2" :class="{ 'hidden': !isOpen }">
          <div
            class="h-[24px] w-[120px] rating relative text-primary"
            style="--rating:{{ 6 - review.timingScore }}; --size: 24px"
          ></div>
        </div>
        <p class="text-sm" :class="{ 'hidden': !isOpen }">Drinks</p>
        <div class="flex justify-end col-span-2" :class="{ 'hidden': !isOpen }">
          <div
            class="h-[24px] w-[120px] rating relative text-primary"
            style="--rating:{{ 6 - review.drinksScore }}; --size: 24px"
          ></div>
        </div>
        <p class="text-sm" :class="{ 'hidden': !isOpen }">Variety</p>
        <div class="flex justify-end col-span-2" :class="{ 'hidden': !isOpen }">
          <div
            class="h-[24px] w-[120px] rating relative text-primary"
            style="--rating:{{ 6 - review.varietyScore }}; --size: 24px"
          ></div>
        </div>
        <p class="text-sm" :class="{ 'hidden': !isOpen }">Ingredients</p>
        <div class="flex justify-end col-span-2" :class="{ 'hidden': !isOpen }">
          <div
            class="h-[24px] w-[120px] rating relative text-primary"
            style="--rating:{{ 6 - review.ingredientScore }}; --size: 24px"
          ></div>
        </div>
        <p class="text-sm" :class="{ 'hidden': !isOpen }">Value for Money</p>
        <div class="flex justify-end col-span-2" :class="{ 'hidden': !isOpen }">
          <div
            class="h-[24px] w-[120px] rating relative text-primary"
            style="--rating:{{ 6 - review.valueForMoneyScore }}; --size: 24px"
          ></div>
        </div>
        <p class="text-sm" :class="{ 'hidden': !isOpen }">Service</p>
        <div class="flex justify-end col-span-2" :class="{ 'hidden': !isOpen }">
          <div
            class="h-[24px] w-[120px] rating relative text-primary"
            style="--rating:{{ 6 - review.serviceScore }}; --size: 24px"
          ></div>
        </div>
        <p class="text-sm pb-4" :class="{ 'hidden': !isOpen }">Ambiente</p>
        <div
          class="flex justify-end col-span-2 pb-4"
          :class="{ 'hidden': !isOpen }"
        >
          <div
            class="h-[24px] w-[120px] rating relative text-primary"
            style="--rating:{{ 6 - review.ambienteScore }}; --size: 24px"
          ></div>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
<article class="prose lg:prose-xl my-4 mx-auto">{{ content | safe }}</article>
