---
layout: default
title: Ups! Seite nicht gefunden
permalink: 404.html
---
<!doctype html>
<article class="font-['Montserrat'] text-center flex-grow flex flex-col justify-center items-center text-secondary -mt-16">
  <h2 class="text-3xl md:text-5xl tracking-tight font-['MontserratBold'] mb-4 flex flex-wrap justify-center"><span class="text-primary">Ups!</span>&nbsp;<span>Hier gibt's nix zu sehen.</span></h2>
  <p class="text-base md:text-xl">Dafür gibt's <a href="/" class="text-primary underline hover:brightness-75 transition-all">hier</a> geile Burger Reviews!</p>
</article>