---
layout: default
path: home
---

<div
  class="mx-auto mt-15 max-w-4xl flex flex-col gap-8 justify-center items-center"
>
  {% set postslist = collections.post %} {% for post in postslist | reverse %}
  <article class="p-6 md:p-8 shadow-md rounded-md bg-white">
    <a href="{{ post.url | url }}">
      <h2 class="font-bold text-3xl text-secondary mb-3">
        {{ post.data.title }}
      </h2>

      <div
        class="mb-1 sm:mb-3 flex flex-col sm:flex-row sm:justify-between gap-3"
      >
        <div
          class="h-[28px] w-[140px] rating relative text-primary {{ 'before:bg-cover' if (5 - post.data.score) < 1 }}"
          style="--rating:{{ 5 - post.data.score }}; --size: 28px"
        ></div>
        <p class="text-base leading-6 text-gray-500">
          <time>{{ post.date | readableDate }}</time>
          <span>&nbsp;by&nbsp;{{ post.data.author }}</span>
        </p>
      </div>
      <p class="text-base leading-6 text-gray-500 mb-3">
        {{ post.data.address }}
      </p>

      {% if post.data.description %}
      <p class="text-base font-bold text-gray-500 mb-3">
        {{ post.data.description }}
      </p>
      {% endif %}

      <p>
        <a href="{{ post.url | url }}" class="text-primary font-bold text-lg">
          Read more →
        </a>
      </p>
    </a>
  </article>
  {% endfor %}
</div>
