<div class="container max-w-4xl px-6 pt-3 lg:pt-6">
  <div class="container mx-auto">
    <nav
      class="flex flex-col items-center flex-wrap py-6 max-w-4xl mx-auto gap-6"
    >
      <!--Title-->
        <a
          href="/"
          class="bg-clip-text text-center max-w-sm sm:max-w-none leading-tight text-transparent bg-gradient-to-r from-primary to-secondary font-bold text-5xl"
          >{{pageTitle}}</a
        >

      <!--Menu-->
      <div class="flex-grow flex items-center w-auto text-center">
        {% if navigation.items %}

        <ul class="pt-0 list-reset flex justify-end flex-1 items-center gap-2 sm:gap-4">
          {% for item in navigation.items %}
            <li class="nav__item">
              <a
                class="text-lg font-bold inline-block text-secondary transition-colors no-underline hover:text-primary"
                target="{{ "_self" if item.isRelative else "_blank" }}"
                href="{{ item.url }}"
                >{{ item.text }}</a
              >
            </li>
            {% if not loop.last %}
              <li>
                <div class="h-0.5 bg-primary w-3 mx-2 sm:mx-0 sm:w-6"></div>
              </li>
            {% endif %}
          {% endfor %}
        </ul>

        {% endif %}
      </div>
    </nav>
  </div>
</div>
